body{
    background-color: black;
}

h2{
    color: rgb(226, 210, 199);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    color: rgb(226, 210, 199);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

